* {
  margin: 0;
  padding: 0;
  --color-background: #1c2128;
  --color-list: #22272e;
  --color-lightgray: #444c56;
  --color-font: #ADBAC7;
}
::-webkit-scrollbar {
  display: none;
}
iframe {
  position: relative;
  top: 17px;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  max-width: 873px;
}
body {
  background-color: var(--color-background);
  font-family: 'Cascadia Mono Light', '微軟正黑體', sans-serif;
  color: var(--color-font);
  height: 100%;
  overflow-y: hidden;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444c56;
  padding: 10px 15px;
}
header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
header img {
  --size: 45px;
  width: var(--size);
  height: var(--size);
}
header button {
  background-color: transparent;
  border: 1px solid var(--color-lightgray);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
header button img {
  width: 75%;
  height: 75%;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list, 
main .plat {
  /* height: calc(100vh - 69px); */
  width: 100%;
}
main .list {
  min-width: 250px;
  max-width: 250px;
  background-color: var(--color-list);
  overflow-y: scroll;
  border-right: 1px solid var(--color-lightgray);
  height: calc(100vh - 69px);
  --list-posi-top: 17px;
}
main .list h2 {
  position: relative;
  top: var(--list-posi-top);
  width: 100%;
  height: fit-content;
  font-size: 18px;
  font-weight: 900;
  padding-left: 40px;
  margin-bottom: 20px;
}
main .list h3 {
  width: fit-content;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  padding-left: 20px;
  transition: all 0.2s ease-in-out;
}
main .list button:hover {
  color: #eeeeee;
}
main .list button {
  position: relative;
  top: var(--list-posi-top);
  background-color: transparent;
  color: var(--color-font);
  border: none;
  border-radius: 0;
  width: 100%;
  height: fit-content;
  font-size: 16px;
  font-weight: 900;
  cursor: default;
}
main .plat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: none;
  overflow-y: scroll;
  gap: 20px;
  padding: 0 20px;
  height: calc(100vh - 40px);
  width: 100%;
}
main .plat > .show, 
main .plat > .other {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
  gap: 10px;

  /* background-color: rgb(68, 70, 64); */

}
main .plat > .show div, 
main .plat > .other div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid var(--color-lightgray);
  border-radius: 8px;
  background-color: var(--color-list);
  transition: all 0.2s ease-in-out;
}
main .plat > .show div:hover, 
main .plat > .other div:hover {
  border: 1px solid #738293;
} 
main .plat > .show {
  width: 100%;
  max-width: 871px;
}
main .plat > .other {
  width: 356px;
  min-width: 356px;
  max-width: 356px;
  padding: 20px 0;
}
main .plat > .other .aboutWeb {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  color: #eeeeee;
}
main .plat > .other .aboutWeb::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/neon_back.png);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
main .plat > .other .aboutWeb h4 {
  font-size: 18px;
  font-weight: 900;
}
main .plat > .other .aboutWeb h2 {
  font-weight: 900;
}
main .plat > .other .aboutWeb h5 {
  font-weight: 400;
  color: var(--color-font);
}
main .plat > .other .aboutWeb h2, 
main .plat > .other .aboutWeb h4, 
main .plat > .other .aboutWeb h5 {
  padding: 0;
  margin: 0;
}

main .plat p,
main .plat h1,
main .plat h2,
main .plat h3,
main .plat h4,
main .plat h5 {
  --padding-size: 20px;
  padding-right: var(--padding-size);
  padding-left: var(--padding-size);
}

@media screen and (max-width: 768px) {
  main .list {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  main .plat > .other {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  main .plat > .other {
    width: 315px;
    min-width: 315px;
    max-width: 315px;
  }
}