* {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --maxwidth: 90vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 20px;
}

body .Login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--maxwidth);
}
body .Login > .sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgb(234, 234, 234);
  border-radius: 100px;
  padding: 0px 8px 0px 0px;
}
body .Login > .sign > div {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 100px;
  padding: 3px 8px;
}
body .Login > .sign > div > svg {
  width: 25px;
  height: 25px;
  scale: 0.6;
}
body .Login > .sign > #googleLoginBtn,
body .Login > .sign > #googleLogoutBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 60px;
  min-width: fit-content;
}

body .Search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  --paddingRL: 8px;
  background-color: rgb(222, 222, 222);
  border-radius: 100px;
  width: var(--maxwidth);
}
body .Search div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: var(--paddingRL);
}
body .Search div:nth-child(2) {
  display: flex;
  padding-right: var(--paddingRL);
}

body .Option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .Option > .imgList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--maxwidth);

  --boxSize: 19.5vw;
  --boxColor: rgb(230, 230, 230);

  --pic1: url(images/salad.jpg);
  --pic2: url(images/salad.jpg);
  --pic3: url(images/salad.jpg);
  --pic4: url(images/salad.jpg);
}
body .Option > .imgList div {
  border-radius: 12px;
  height: var(--boxSize);
  width: var(--boxSize);
  background-color: var(--boxColor);
}
body .Option > .imgList div:nth-child(1) > .pic,
body .Option > .imgList div:nth-child(2) > .pic,
body .Option > .imgList div:nth-child(3) > .pic,
body .Option > .imgList div:nth-child(4) > .pic {
  background-size: cover;
  background-position: center;
  scale: 0.5;
}
body .Option div:nth-child(1) > .pic {
  background-image: var(--pic1);
}
body .Option div:nth-child(2) > .pic {
  background-image: var(--pic2);
}
body .Option div:nth-child(3) > .pic {
  background-image: var(--pic3);
}
body .Option div:nth-child(4) > .pic {
  background-image: var(--pic4);
}
body .Option .txtList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--maxwidth);
  --boxSize: 19.5vw;
}
body .Option .txtList > p:nth-child(1),
body .Option .txtList > p:nth-child(2),
body .Option .txtList > p:nth-child(3),
body .Option .txtList > p:nth-child(4) {
  color: #000;
  text-align: center;
  width: var(--boxSize);
}













/* //KU */
body > #msgList {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: none;
  gap: 20px;
}
body > #msgList > li {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  width: 100%;
  height: fit-content;
  list-style: none;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 6px 0px 6px 10px;
}
body > #msgList > li > h4 {
  font-size: 1.2em;
  font-weight: 500;
  background-color: none;
}
body > #msgList > li > p {
  background-color: none;
}