* {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
select {
  -webkit-appearance: none;  /* Chrome 和 Safari */
  appearance: none;          /* 其他瀏覽器 */
  text-align: center;
}

:root {
  --maxwidth: 90vw;
  --uberGreen: rgb(21, 196, 70);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--uberGreen);
  --font-height: 0.9em;

  opacity: 1;
  transition: opacity 1s ease;

  /* display: none; */
}
header > h1 {
  font-size: 4.7em;
  font-weight: 900;
  height: var(--font-height);
  color: rgb(0, 0, 0);
}
header > h2 {
  font-size: 4em;
  font-weight: 400;
  height: var(--font-height);
  color: rgb(0, 0, 0);
}
header > a {
  position: relative;
  text-decoration: underline;
  top: 20px;
  width: 184px;
  font-size: 0.5em;
  font-weight: 400;
  height: fit-content;
  color: rgb(0, 0, 0);
  margin-bottom: 8%;
}
 



body.no-scroll {
  overflow-y: hidden;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  --box1Gap: 20px;
}
body > .loginNotice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgb(217, 132, 14);
}
body > .loginNotice > svg {
  height: 100px;
  width: 100px;
}
body > .loginNotice > p {
  color: #000;
}
body .Login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--maxwidth);
  margin: 10px 0 var(--box1Gap) 0;
}
body .Login > .sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: rgb(234, 234, 234);
  border-radius: 100px;
  padding: 0px 8px 0px 0px;
}
body .Login > .sign > div {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 100px;
  padding: 3px 8px;
}
body .Login > .sign > div > svg {
  width: 25px;
  height: 25px;
  scale: 0.6;
}
body .Login > .sign > #googleLoginBtn,
body .Login > .sign > #googleLogoutBtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 60px;
  min-width: fit-content;
  font-weight: 500;
  color: black;
}

body .Search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  --paddingRL: 8px;
  background-color: rgb(222, 222, 222);
  border-radius: 100px;
  width: var(--maxwidth);
  margin-bottom: var(--box1Gap);
}
body .Search div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-left: var(--paddingRL);
}
body .Search div:nth-child(2) {
  display: flex;
  padding-right: var(--paddingRL);
}

body .Option {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: var(--box1Gap);
}
body .Option > .imgList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--maxwidth);

  --boxSize: 19.5vw;
  --boxColor: rgb(230, 230, 230);

  --pic1: url(images/restaurant.png);
  --pic2: url(images/grocery.png);
  --pic3: url(images/convenience_store.png);
  --pic4: url(images/more.png);
}
body .Option > .imgList div {
  border-radius: 12px;
  height: var(--boxSize);
  width: var(--boxSize);
  background-color: var(--boxColor);
}
body .Option > .imgList div:nth-child(1) > .pic,
body .Option > .imgList div:nth-child(2) > .pic,
body .Option > .imgList div:nth-child(3) > .pic,
body .Option > .imgList div:nth-child(4) > .pic {
  background-size: cover;
  background-position: center;
  --pic-scale: 0.5;
}
body .Option div:nth-child(1) > .pic {
  background-image: var(--pic1);
  scale: var(--pic-scale);
}
body .Option div:nth-child(2) > .pic {
  background-image: var(--pic2);
  scale: var(--pic-scale);
}
body .Option div:nth-child(3) > .pic {
  background-image: var(--pic3);
  scale: var(--pic-scale);
}
body .Option div:nth-child(4) > .pic {
  background-image: var(--pic4);
  scale: 0.4;
}
body .Option .txtList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--maxwidth);
  --boxSize: 19.5vw;
}
body .Option .txtList > p:nth-child(1),
body .Option .txtList > p:nth-child(2),
body .Option .txtList > p:nth-child(3),
body .Option .txtList > p:nth-child(4) {
  color: #000;
  text-align: center;
  width: var(--boxSize);
}
@media screen and (max-width: 330px) {
  body .Option .txtList > p:nth-child(1),
  body .Option .txtList > p:nth-child(2),
  body .Option .txtList > p:nth-child(3),
  body .Option .txtList > p:nth-child(4) {
    font-size: 4.5vw;
  }
}
body > .adminLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--maxwidth);
  border: 2px solid rgba(0, 0, 0, .05);
  border-radius: 8px;
  padding: 20px 0;
  margin: 20px 0;
  background-color: rgb(230, 230, 230);
}
body .Restaurant {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  width: var(--maxwidth);
}
body .Restaurant > .notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  margin: 5px 0;
  --svg-info-size: 17px;
}
body .Restaurant > .notice > svg {
  width: var(--svg-info-size);
  height: var(--svg-info-size);
}
body .Restaurant > .notice > p {
  font-size: 0.8em;
  text-decoration: underline;
}
body .Restaurant > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
body .Restaurant > div > #existingRestaurants,
body .Restaurant > div > #fetchRestaurantInfo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 50%;
  background-color: var(--uberGreen);
  border: 2px solid rgba(0, 0, 0, .05);
  border-radius: 8px;
  padding: 0 8px;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}
body .Restaurant > #restaurantContainer {
  display: flex;
  flex-direction: column;
}
body .Restaurant > #restaurantContainer > .box {
  display: flex;
  flex-direction: column;
  width: var(--maxwidth);
  margin-top: 12px;
  gap: 5px;
}
body .Restaurant > #restaurantContainer > .box > .img {
  height: 150px;
  width: 100%;
  border: 0px solid black;
  border-radius: 15px;
}
body .Restaurant > #restaurantContainer > .box > .txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .Restaurant > #restaurantContainer > .box > .txt > p {
  border-radius: 100px;
  padding: 5px;
  background-color: rgb(222, 222, 222);
  font-size: 12px;
  font-weight: 500;
}

body > .Restaurant > #restaurantForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 10px;
  padding: 10px 25px 20px 25px;
  background-color: var(--uberGreen);
  font-weight: 500;
}
body > .Restaurant > #restaurantForm input {
  position: relative;
  height: 27px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, .05);
  padding: 0 0 0 10px;
  font-size: 15px;
  outline: none;
  transition: border .2s ease;
  margin: 1.5px 0;
}
body > .Restaurant > #restaurantForm input:focus {
  border: 1px solid rgb(0, 0, 0);
}
body > .Restaurant > #restaurantForm > button {
  color: black;
  height: 27px;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  margin: 0 0 1.5px 0;
} 
body > .Restaurant > #restaurantForm > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > .Restaurant > #restaurantForm > div > #rate,
body > .Restaurant > #restaurantForm > div > #waitfor {
  width: 20%;
}
body > .Restaurant > #restaurantForm > div > label {
  display: inline-flex;
  flex-direction: column;
  font-size: 100%;
}

body > .Orderplatform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
body > .Orderplatform > .img {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  width: 100%;
  --the-height: 220px;
  height: 220px;
}
body > .Orderplatform > .img::before {
  font-size: 30px;
  font-weight: 900;
  content: "IMG not found :(";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: var(--the-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
body > .Orderplatform > .img a {
  background-color: white;
  border-radius: 100px;
  --size: 40px;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
}
body > .Orderplatform > .img > div > a > svg {
  --size: 50%;
  width: var(--size);
  height: var(--size);
}
body > .Orderplatform > .img > div {
  margin: 18px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
body > .Orderplatform > .img div:nth-child(2) div:nth-child(1) svg, 
body > .Orderplatform > .img div:nth-child(2) div:nth-child(2) svg  {
  scale: 0.6;
}

body > .Orderplatform > .order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body > .Orderplatform > .order > h1 {
  font-size: 1.9em;
  font-weight: 500;
  margin: 15px 0;
  width: var(--maxwidth);
}
body > .Orderplatform > .order > .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 10px 5% 18px 5%;
  border: 2px solid rgba(0, 0, 0, .05);
  border-radius: 8px;
  background-color: rgb(21, 196, 70);
}
body > .Orderplatform > .order > .menu .addlist {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
body > .Orderplatform > .order > .menu .addlist > button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 100px;
  --box-size: 20px;
  height: var(--box-size);
  width: var(--box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.2em;
}
body > .Orderplatform > .order > .menu .addlist > .add::before, 
body > .Orderplatform > .order > .menu .addlist > .minus::before {
  position: relative;
  bottom: 1.2px;
}
body > .Orderplatform > .order > .menu .addlist > .add::before {
  content: "+";
}
body > .Orderplatform > .order > .menu .addlist > .minus::before {
  content: "-";
}
body > .Orderplatform > .order > .menu h3 {
  font-size: 1.4em;
  font-weight: 900;
}
body > .Orderplatform > .order > .menu > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  margin-bottom: 10px;
}
body > .Orderplatform > .order > .menu > div:nth-child(1) > div:nth-child(1), 
body > .Orderplatform > .order > .menu > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} 
body > .Orderplatform > .order > .menu > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  border-radius: 8px;
}
body > .Orderplatform > .order > .menu > div:nth-child(2) > p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 0 8px;
  white-space: nowrap;
  font-weight: 500;
}
body > .Orderplatform > .add > form{
  display: flex;
  flex-direction: column;
}


/* //KU */
body > .msgTestingTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > .msgTestingTable > #msgList {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: none;
  width: var(--maxwidth);
  gap: 20px;
  margin-bottom: 20px;
}
body > .msgTestingTable > #msgList > li {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  width: 100%;
  height: fit-content;
  list-style: none;
  color: rgb(0, 0, 0);
  /* border: 1.5px solid rgba(0, 0, 0, .05); */
  /* background-image: linear-gradient(30deg, rgb(115, 45, 255), rgb(33, 203, 255)); */
  /* background-image: linear-gradient(30deg, rgb(42, 207, 102), rgb(42, 207, 102), rgb(42, 207, 102)); */
  background-color: var(--uberGreen);
  border-radius: 10px;
  padding: 6px 0px 6px 10px;
}
body > .msgTestingTable > #msgList > li > h4 {
  font-size: 1.2em;
  font-weight: 500;
  background-color: none;
}
body > .msgTestingTable > #msgList > li > p {
  background-color: none;
}
body > .msgTestingTable > #msgtable {
  position: sticky;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
  width: 100vw;
  height: 40px;
  gap: 10px;
}
body > .msgTestingTable > #msgtable > #btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  height: 70%;
  width: 24.5px;
}
body > .msgTestingTable > #msgtable > #btn > svg > path {
  fill: black;

}
body > .msgTestingTable > #msgtable > #btn > svg {
  width: 100%;
  height: 100%;  
  position: relative;
  bottom: 5px;
  rotate: -40deg;
  transition: all 0.3 ease-in-out;
}
body > .msgTestingTable > #msgtable > input {
  border-radius: 100px;
  padding: 0 12px;
  width: 55%;
  height: 70%;
  border: none;
  outline: none;
}
body > .msgTestingTable > #msgtable > span {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.9em;
}

.shake {
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}
.red {
  animation: fillred 0.6s ease-in-out;
}
@keyframes fillred {
  0% { fill: red; }
  100% { fill: black; }
}
.green {
  animation: fillgreen 0.8s ease-in-out;
}
@keyframes fillgreen {
  0% { fill: rgb(0, 200, 0); }
  100% { fill: black; }
}